section {
   display: flex;
   /* justify-content: center; */
   flex-wrap: wrap;
  
}

.form_wrap {
   margin-top: 40px;
   display: flex;
   justify-content: center;
   width:100%;
}
.buttons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 250px;
   margin: auto;
}

.buttons button {
   margin-top: 20px;
   background: green;
   color: white;
   font-weight: bold;
   padding: 15px 20px;
   border-radius: 15px;
   cursor: pointer;
   border: none;
}

#send:hover, #clear:hover {
   transform: scale(1.1);
   transition: all ease 0.5s;
}
#clear {
   background: #ffa5009e;
   color: black;
}


input {
   padding: 5px 10px;
   font-size: 15px;
   box-sizing: content-box;
}